<<<<<<< HEAD

<div class="col-xs-12 col-sm-12 col-md-3 busca">
  <div class="row">
    <div class="col-xs-12 form-group">
      <label class="font-label">LOCAL DE RETIRADA</label>
      <input type="text" class="form-control" ng-model="localRetirada" placeholder="Digite o endereço">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <input type="checkbox" ng-model="outroLocal">
      <span class="font-cor-azul" style="font-size: 14px; font-weight: bold;">Devolver o carro em outro local</span>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <div ng-if="outroLocal">
        <label class="font-label">LOCAL DE DEVOLUÇÃO</label>
        <input type="text" class="form-control" ng-model="localDevolucao" placeholder="Digite o endereço">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <label class="font-label">RETIRADA</label>
      <input type="data" class="form-control" ng-model="retirada" placeholder="Digite a data da retirada">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
      <label class="font-label">DEVOLUÇÃO - 8 DIAS(S)</label>
      <input type="data" class="form-control"ng-model="dataDevolucao" placeholder="Digite data da devolução">
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 form-group">
        <div class="painel-economize">
           <div class="painel">
              <div class="painel-label">
                <label>ECONOMIZE ATÉ 36%</label>
              </div>

              <div class="painel-body">
                  <input type="checkbox" ng-model="incluirVoo">
                  <span class="font-cor-azul" style="font-size: 14px;">Incluir voo</span>

                  <input type="checkbox" ng-model="incluirHotel">
                  <span class="font-cor-azul" style="font-size: 14px;">Incluir hotel</span>
              </div>
=======
<div class="row busca">
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12 form-group">
                <label class="font-size ">LOCAL DE RETIRADA</label>
                <cvc-endereco></cvc-endereco>
            </div>
        </div>
        <div class="row row-eq-height">
            <div class="col-xs-12 vleft">
                <label class="btn btn-primary btn-xs">
                   <input type="checkbox" ng-model="outroLocal">
                </label>
                <span class="font-color font-size " style="margin-left: 5px;">
                  DEVOLVER O CARRO EM OUTRO LOCAL
                </span>
            </div>
        </div>
        <div class="row" ng-if="outroLocal">
            <div class="col-xs-12 form-group">
                <label class="font-size ">LOCAL DE DEVOLUÇÃO</label>
                <cvc-endereco></cvc-endereco>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <label class="font-size ">RETIRADA</label>
                <cvc-data></cvc-data>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <label class="font-size ">DEVOLUÇÃO - 8 DIAS(S)</label>
                <cvc-data></cvc-data>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <cvc-voo-hotel></cvc-voo-hotel>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 form-group">
                <button class="btn btn-primary btn-lg btn-block"
                        style="border-bottom: 4px solid #172033;"
                        ng-click="buscar()">
                    <span>Buscar</span>
                </button>
>>>>>>> b6c077f7209432d012d87b5c91400e6c23d09934
            </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 form-group">
        <button class="btn btn-primary btn-lg btn-block"
               style="border-bottom: 4px solid #172033;"
               ng-click="buscar()">
               <span>BUSCAR</span>
        </button>
      </div>
    </div>
</div>
