<div class="container-fluid">
    <div class="row">
<<<<<<< HEAD

        <div class="locacao-carro" ng-include="vm.template[0].url"></div>

        <div class="locacao-carro" ng-include="vm.template[1].url"></div>

        <!-- <div class="col-xs-12 col-sm-12 col-md-9">
=======
        <div>
          <busca-carro></busca-carro>
           <!--   BUSCA <dctv-motor-busca-carro ao-retornar-busca="vm.aoRetornarBusca"></dctv-motor-busca-carro> -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-9">
>>>>>>> b6c077f7209432d012d87b5c91400e6c23d09934
            <div class="container-fluid">
                <div class="row">
                 Filtros
                </div>

                <div class="row">
<<<<<<< HEAD
                  Carros das Locadoras
=======
                  carros das Locadoras
>>>>>>> b6c077f7209432d012d87b5c91400e6c23d09934
                </div>

            </div>
        </div> -->
    </div>
</div>
