<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <!-- <dctv-filtro filtros="vm.obterFiltros()" ordenacoes="vm.obterOrdenacoes()" lista="vm.obterLista()" ao-processar-lista="vm.aoFiltrarLista" span-controladores="12"></dctv-filtro> -->
              ÍTENS POR PÁGINA: 100
        </div>
        <div class="col-xs-12 col-sm-4">
            <!-- <dctv-ordenador ordenacoes="vm.obterOrdenacoes()" lista="vm.obterListaFiltrada()" ao-processar-lista="vm.aoOrdenarLista" span-controladores="12"></dctv-ordenador> -->
              ORDENAR POR: Menor preço

        </div>
        <div class="col-xs-12 col-sm-3">
            <!-- <dctv-lista-combo combos="vm.obterCombos()"></dctv-lista-combo> -->
              MOEDAS: Real
        </div>
    </div>
<div>
