<div class="row painel-economizar">
    <div class="col-xs-12">
        <div class="panel">
            <div class="panel-heading">
                ECONOMIZE ATÉ 35%
            </div>
            <div class="panel-body">
                <div class="row row-eq-height">
                    <div class="col-xs-6">
                        <checkbox class="btn btn-xs btn-default btn-checkbox" ng-model="incluirVoo"></checkbox>
                        <span class="fonte-cor-padrao fonte-tamanho-padrao" >Incluir voo</span>
                    </div>
                    <div class="col-xs-6">
                        <checkbox class="btn btn-xs btn-default btn-checkbox" ng-model="incluirHotel"></checkbox>
                        <span class="fonte-cor-padrao fonte-tamanho-padrao" >Incluir hotel</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
