<div class="col-xs-12 col-sm-12 col-md-9 car" style="background-color:with;">

        <div class="col-xs-12 col-sm-3 col-md-3" style="background-color:with;">
           <span class="font-cor-azul" style="font-size: 9px;">{{vm.itensLabel}}</span>
           <select class="combobox" ng-model="vm.itensPorPagina.selecionado" ng-options="x for x in vm.itensPorPagina.pagina"></select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4" style="background-color:with">
          <span class="font-cor-azul" style="font-size: 9px;">{{vm.ordenadoPorLabel}}</span>
          <select class="combobox" ng-model="vm.ordenadoPor.selecionado" ng-options="x for x in vm.ordenadoPor.ordenado"></select>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2" style="background-color:with">
          <span class="font-cor-azul" style="font-size: 9px;">{{vm.moedaLabel}}</span>
          <select class="combobox" ng-model="vm.moedas.selecionado" ng-options="x for x in vm.moedas.moeda"></select>
        </div>

        <div class="row" style="height: 40px;"></div>

        <div class="col-xs-12 col-sm-12 col-md-4" style="background-color:with;">
           <!-- <img src="images/gol-2.png" style="width: 50%; margin-top: 0px; margin-left: -15px;"> -->
           <div class="col-xs-12">
             <img src="images/sandero-2.png" class="img-responsive" alt="car image" style="width: 100%; margin-top: 0px; margin-left: -15px;">
           </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 informacoes" style="background-color:with;">

          <div class="row col-xs-12">
              <span class="text-titulo">
                {{vm.titulo[0]}} {{vm.titulo[1]}}
              </span>
          </div>

          <div class="row col-xs-12">
            <span class="cars-taxa">{{vm.codigoTaxa.codigo[0]}} {{vm.codigoTaxa.taxa[0]}}</span>
          </div>

          <div class="row col-xs-12">
            <span class="cars-taxa">{{vm.carros}}</span>
            <ul>
              <li ng-repeat="caracteristica in vm.itensCaracteristicas">- {{caracteristica}} </li>
            </ul>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <span class="font detalhes" ng-click="click()">Ver detalhes</span>
                  <span class="glyphicon glyphicon-plus"></span>
              </div>
          </div>

          <div class="row">
              <div class="col-xs-12">
                  <span class="zoom font detalhes" ng-click="click()">Fechar detalhes</span>
                  <span class=" glyphicon glyphicon-remove"></span>
              </div>
          </div>

       </div>


       <div class="col-xs-12 col-sm-12 col-md-3" style="background-color: #ffdc2d; height: auto;">
         <button class="btn btn-primary btn-lg btn-block"
                style="border-bottom: 4px solid #172033;"
                ng-click="alugar()">
                <span>ALUGAR</span>
         </button>
       </div>

</div>
