.locacao-carro
.painel-economize {

}

.locacao-carro
.painel-economize
.painel {
    border: 1px solid #69b42e;
    border-radius: 0px;
}

.locacao-carro
.painel
.painel-heading {
    background-color: #69b42e;
    color: white;
    padding: 2px 6px;
    font-size: 11px;
}

.locacao-carro
.pianel
.painel-body {
    padding: 2px 15px;
}
