.locacao-carro {
    box-shadow: 0px 0px 0px black;
    margin-bottom: 10px;
}

.locacao-carro
.informacoes h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 15px 0px 0px 0px;
}

.locacao-carro
.informacoes h3 {
    font-size: 11px;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
    padding: 0px 0px 0px 1px;
}

.locacao-carro
.desconto {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    background-color: #69b42e;
    color: white;
    padding: 5px 7px;
    font-weight: 600;
    font-size: 11px;
}

.locacao-carro
.desconto
.desconto-letreiro {
    display: block;
}

.locacao-carro
.desconto
.desconto-valor {
    display: block;
    text-align: center;
    font-size: 20px;
}

.locacao-carro
.informacoes
.favorito {
    font-size: 25px;
    margin: 15px 0px 0px 0px;
}

.locacao-carro
.informacoes
.codigo-taxa {
    display: block;
    text-transform: uppercase;
    font-size: 10px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 1px;
}

.locacao-carro
.informacoes ul {
    padding: 0;
}

.locacao-carro
.informacoes ul li {
    list-style: none;
    font-size: 13px;
}

.locacao-carro
.informacoes
.container-fluid {
    border: 1px solid #eeeeee;
}

.locacao-carro
.informacoes
.caracteristicas {

}

.locacao-carro
.informacoes
.caracteristicas
span.imagem {
    background-image: url('/assets/images/imagens-carro.png');
    background-size: 180px;
    width: 35px;
    height: 35px;
    position: relative;
    float: left;
    margin-right: 0px;
}

.locacao-carro
.informacoes
.caracteristicas
span.imagem.portas {
    background-position: -3px 4px;
}

.locacao-carro
.informacoes
.caracteristicas
span.imagem.ar-condicionado {
    background-position: -33px 4px;
}

.locacao-carro
.informacoes
.caracteristicas
span.imagem.passageiro {
    background-position: -61px 4px;
}

.locacao-carro
.informacoes
.caracteristicas
span.imagem.bagagem {
    background-position: -87px 4px;
}

.locacao-carro
.informacoes
.caracteristicas
span.imagem.cambio-automatico {
    background-position: -115px 4px;
}

.locacao-carro
.informacoes
.caracteristicas
span.imagem.cambio-manual {
}

.locacao-carro
.precos
.container-fluid {
    background-color: #ffdc2c;
    min-height: 100%;
    padding-bottom: 25px;
}

.locacao-carro
.precos
.letreiro-total-locacao {
    display: block;
    font-size: 16px;
    text-align: center;
    text-transform: uppercase;
}

.locacao-carro
.precos
.letreiro-preco {
    display: block;
    font-size: 16px;
    text-align: center;
}

.locacao-carro
.precos
.letreiro-valor-preco {
    font-size: 24px;
    font-weight: 600;
}

.locacao-carro
.precos
.letreiro-parcelas {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.locacao-carro
.precos
.letreiro-taxas-inclusas {
    display: block;
}

.locacao-carro
.precos
.letreiro-desconto {
    display: block;
    text-align: center;
    position: relative;
}

.locacao-carro
.precos
.letreiro-desconto > div {
    width: 50%;
    position: absolute;
    transform: translate(54%, -12px) rotate(-5deg);
    border: 1px solid red;
}

@media (min-width: 768px) {
    .locacao-carro .informacoes {
        padding-right: 0px;
    }
    .locacao-carro .precos {
        padding-left: 0px;
    }
}
